html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;

}

form {
    margin-bottom: 40px;
}

.sidebar {
    min-width: 300px;
    background-color: white;
    padding: 30px;
    border-right: 1px solid #EFEFEF;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
}

.sidebar > h1, a {
    font-size: 20px;
    font-weight: 400;
}

.settingsBody {
    width: 1200px;
    height: 100%;
    background-color: #fafafa;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 4px;

}

.settingsBody > h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 4px;
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.settingsBody > h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;

}

.settingsRow {
    display: flex;
    flex-direction: column;

    /* width: 550px; */
    /* height: 6vh; */
    /* gap: 8px; */
    /* padding: 0; */

}

.settingsInput {
    width: 250px;
    height: 100%;
    border-radius: 5px;
    padding-left: 20px;

    width: 440px;
    height: 32px;
    max-width: 100%;
    margin-right: 5px;
    border: 1px solid #000;

    border: 1px solid #3d444d;
    background-color: white;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;

}



.settingsInput::placeholder {
    text-align: right;
}


.settingsInputAndButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    gap: 16px;
}

button {
    background-color: #238636;
    /* height: 32px; */
    /* width: 120px; */
    height: 2rem;
    min-width: max-content;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 0.0625rem;
    border-radius: 0.375rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;

    flex-direction: row;
    display: inline-flex;
    position: relative;

    color: white;
}

.note {
    min-height: 17px;
    margin: 0.25rem 0 2px;
    color: #9189A1;
    font-size: 12px;

}

#deleteAccount {
    color: #8f1311;
}

#deleteButton {
    background-color: #8f1311;
    margin-top: 8px;

}

.cog {
    position: fixed;
    right: 0;
    bottom: 0;

    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: white;
    border-radius: 50px;

    display: none;
    justify-content: center;
    align-items: center;

    margin-right: 40px;
    margin-bottom: 40px;
}

.checkboxRows {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkboxRow {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.checkboxToggle {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

}

.checkboxRow > input {
    width: 13px;
    height: 13px;

}

.keyInputs {
    display: flex;
    flex-direction: row;
}


@media (max-width: 768px) {
    .sidebar {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 1;
    }
    .settingsBody {
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
    .cog {
        display: flex;
        z-index: 100;

    }

}
