@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    padding: 20px;
}

#chartSection {
    position: relative;
    height: 65vh;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#chart {
    width: 100%;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
}

.loading {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
    pointer-events: none;}

.loading > h1 {
    font-size: 4vw;
    opacity: 0.5;
}

#extraInfo {
    width: 100%;
    height: 500px;
    display: flex;
    gap: 1%;
    margin-bottom: 15px;
}

#extraInfo > section {
    flex: 1;
    height: 100%;
}

.box {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;

}

#stockInfo {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 15px;
}
